<table class="table table-hover table-striped table-condensed">
  <h2>Your Posts</h2>

  <%= link_to "Add a Post", new_post_path %>

  <ul>
    <% @post.each do |list| %>
      <li>
        <%= link_to post.title, post %>

        <%= link_to "X", list, method: :delete %>
      </li>
    <% end %>
  </ul>
</table>
